banking-forex-sapi/src/main/mule/banking-forex-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd">
   <flow name="banking-forex-sapi-main">
        <http:listener config-ref="banking-forex-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="banking-forex-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\exchange-rates\(currency):banking-forex-sapi-config">
		<ee:transform doc:name="Currency" doc:id="21593e87-58c9-4ede-b88f-f0cf094b933f" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="currency" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.currency]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Get Exchange Rates" doc:id="1701d676-cb97-454f-8d7b-a681f523d01e" name="get-exchange-rates-subflow"/>
    </flow>
	<sub-flow name="get-exchange-rates-subflow" doc:id="214de9aa-157e-4965-94c9-f4d9f56b653b" >
		<ee:transform doc:name="Currency" doc:id="28625615-4a74-4d43-a83d-f93edf007bc7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
if(vars.currency == 'USD') 'USDAED,USDAFN,USDALL,USDAMD,USDANG'
else 'EURGBP,EURUSD']]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="Rates" doc:id="bf7f0973-6e91-4363-acf8-4356930726a6" config-ref="Forex_HTTP_Request_configuration" path="/live" outputMimeType="application/json">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"pairs" : payload
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Rates Array" doc:id="f26e88c7-db61-462b-9b9a-9389defcd878" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Objects
---
entrySet(payload.rates) map ((rate) -> {
	currency: rate.key[3 to 5],
	rate: rate.value.rate
})
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="read-usd-rates-flow" doc:id="41e56f49-6287-4b5e-94eb-5bf9486f78f1" >
		<scheduler doc:name="Scheduler" doc:id="818cba7b-b80e-4809-8d51-7adb94e5b1d9" >
			<scheduling-strategy >
				<fixed-frequency frequency="3" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<set-variable value="USD" doc:name="USD currency" doc:id="969aa56f-b8ab-4485-91e4-45c29249f042" variableName="currency"/>
		<flow-ref doc:name="Get Exchange Rates" doc:id="812674df-b7f2-4a87-b37b-89529437ca43" name="get-exchange-rates-subflow"/>
		<sqs:send-message doc:name="Rates" doc:id="df69e6ec-b00e-4e38-83f0-511774df2c20" config-ref="Amazon_SQS_Configuration" queueUrl="exchange-rate-sys">
			<sqs:message ><![CDATA[#[output application/java
---
{
	delaySeconds: 0,
	body: write(payload, "application/json"),
	messageAttributes: {
		"Currency": {
			"stringValue" : "USD",
			"dataType" : "String"
		} as Object {
			class: "org.mule.extension.sqs.api.model.MessageAttributeValue"
		}
	} as Object {
		class: "java.util.HashMap"
	}
} as Object {
	class: "org.mule.extension.sqs.api.model.Message"
}]]]></sqs:message>
		</sqs:send-message>
	</flow>
</mule>
